<footer class="page-footer font-small teal pt-4 bg-primary text-light">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h3></h3>

        <h5 class="text-uppercase font-weight-bold">Sobre o Talk Libras...</h5>
        <p>O Talk Libras é um projeto criado por Kayky Belleboni Casagrande e Nicolas Jimenez Santoni, alunos do curso técnico de Informática integrado... <a class="text-dark" href="/sobre">Ler mais</a> </p>
        <br>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Sobre os criadores...</h5>

        <h3></h3>
          <p>Kayky e Nicolas são dois alunos do terceiro ano do ensino médio que se juntaram para cumprir uma única missão: trazer a acessibilidade... <a class="text-dark" href="/sobre">Ler mais</a></p>
        <br>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark text-light">© 2020 Copyright:
    <a href="/contato"> talklibras@gmail.com</a>
  </div>
  <!-- Copyright -->

</footer>
