<app-header></app-header>
<main>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" id="inputNome">
      </div>
      <div class="form-group col-md-6">
        <label for="inputSobrenome">Sobrenome</label>
        <input type="text" class="form-control" id="inputSobrenome">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="text" class="form-control" id="inputEmail" placeholder="talk@libras.com">
    </div>
    <div class="form-group">
      <label for="inputContato">Motivo do contato</label>
      <input type="text" class="form-control" id="inputContato">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">O que você deseja nos contar?</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

</main>
<app-footer></app-footer>
