<app-header></app-header>
<app-vlibras></app-vlibras>
<main>

  <div class="content">
    <div class="texto">
      <h3>SOBRE O TALK LIBRAS</h3>
      <p>O Talk Libras é um projeto criado por Kayky Belleboni Casagrande e Nicolas Jimenez Santoni, alunos do curso técnico de Informática integrado ao Ensino Médio da Escola Técnica Estadual Monteiro Lobato (CIMOL), sob a orientação do professor Rodrigo Henrich e a coordenação do professor Cândido Luciano de Farias.</p>
	      <p id="t2">O programa tem como objetivo a implementação de um tradutor da Língua Portuguesa para a Língua Brasileira de Sinais (Libras). Além de também proporcionar a opção de carregar áudios ou vídeos para serem traduzidos, o programa também conta com um belo acervo do alfabeto utilizado pelos portadores da deficiência.</p>
    </div>
    <div class="texto">
      <h3>SOBRE OS CRIADORES</h3>
      <p>Kayky e Nicolas são dois alunos do terceiro ano do ensino médio que se juntaram para cumprir uma única missão: trazer a acessibilidade total para os deficientes auditivos denominados surdos/mudos. Com o auxílio de sua ex-colega Camilly Nascimento, a qual começou com o projeto, Kayky e Nicolas levaram o trabalho além e o concluíram, trazendo, assim, a plataforma a qual você se encontra hoje.</p>

    </div>
  </div>

</main>
<app-footer></app-footer>
