.text-libras {
  padding: 8px;
  position: relative;
  left: 25%;
  top: 20px;
  font-size: 20px;
  width: 50%;
  text-align: justify;
}

.content {
  padding: 10px;
  padding-bottom: 20px;

  top: 40px;
  font-size: 30px;
  width: 50%;
  position: relative;
  left: 25%;
  text-align: center;
}

/* .trad {
  position: relative;
  left: 30%;
  text-align: center;
  width: 40%;
} */


.inp {
  width: 100%;
}

.formI {
  position: relative;
  left: 20%;
  width: 60%;
}

main {
  position: relative;
  min-height: 80vh;
}



#botaoTroca {
  right: 20%;
  top: 40px;
  float: right;
  position: relative;
}

#botaoTrocaImg {
  width: 30px;
}
