<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="../../assets/images/nav-libras-logo.png" class="d-inline-block align-top" id="nav-logo-img" alt="" loading="lazy">
    TalkLibras
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a id="sobreA" class="nav-link" href="/sobre" >Sobre</a>
      </li>
      <li class="nav-item">
        <a id="contatoA" class="nav-link" href="/contato">Contato</a>
      </li>
    </ul>
  </div>
</nav>
